.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
header#topheader .logo .alelogo {
  background: url(../images/logo8.png) center center no-repeat;
}
header#topheader nav#leftnav li a:hover,
header#topheader nav#rightnav li a:hover,
header#topheader nav#leftnav li ul li a:hover,
header#topheader nav#rightnav li ul li a:hover {
  color: #9E3B33;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header#topheader nav#leftnav li.current-menu-item a,
header#topheader nav#rightnav li.current-menu-item a,
header#topheader nav#leftnav li ul li.current-menu-item a,
header#topheader nav#rightnav li ul li.current-menu-item a {
  color: #9E3B33;
}
a {
  color: #9E3B33;
}
footer#footer-main .socialprof .fbicon {
  background: url(../images/soc8.png) 0 0 no-repeat;
}
footer#footer-main .socialprof .twiicon {
  background: url(../images/soc8.png) -90px 0 no-repeat;
}
footer#footer-main .socialprof .gogicon {
  background: url(../images/soc8.png) -180px 0 no-repeat;
}
footer#footer-main .socialprof .pinticon {
  background: url(../images/soc8.png) -270px 0 no-repeat;
}
.readmoreabout {
  color: #9E3B33;
}
.circle:before,
.circle:after {
  box-shadow: inset 155px 0 0 rgba(158, 59, 51, 0.3), inset 0 155px 0 rgba(158, 59, 51, 0.3), inset -155px 0 0 rgba(158, 59, 51, 0.3), inset 0 -155px 0 rgba(158, 59, 51, 0.3);
}
section.homepage .grommandbridebox .leftgroom {
  background: url(../images/groom8.png) center center no-repeat;
}
section.homepage .grommandbridebox .rightbride {
  background: url(../images/bride8.png) center center no-repeat;
}
.singleblog .titleitem .customfont .lineone {
  color: #9E3B33;
}
.singleblog .topslider .postslider .flex-prev {
  background: url(../images/leftslide8.png) no-repeat;
}
.singleblog .topslider .postslider .flex-next {
  background: url(../images/rightslide8.png) no-repeat;
}
.singleblog .gridstyle .da-thumbs li a div {
  background: rgba(158, 59, 51, 0.9);
}
.singleblog .eventslider .ei-slider-thumbs li.ei-slider-element {
  background: #9E3B33;
}
.singleblog .eventslider .ei-title h3 {
  color: #9E3B33;
}
.singleblog .weddingparty .leftwed .placeone,
.singleblog .weddingparty .rightwed .dateone {
  color: #9E3B33;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #9E3B33;
}
.success {
  color: #9E3B33;
  font-size: 14px;
}
.jspDrag {
  background-color: #9E3B33;
}
section.commentform section.respond span.succes {
  color: #9E3B33;
}
.lenta .coloritem {
  background: url(../images/color8line.png) no-repeat;
}
.lenta .coloritem .roundbox .maskcolor {
  background: #9E3B33;
}
.wishesbox .wishitem .righttext .viewmore {
  color: #9E3B33;
}
.wishesbox .wishitem .popupbox {
  background: rgba(158, 59, 51, 0.5);
}
.wishesbox .wishitem .popupbox .whitebox .close {
  color: #9E3B33;
}
.widgettitle,
.lentaboxtitle {
  color: #9E3B33;
}
.singleblog .flexslider .flex-prev {
  background: url(../images/leftslide8.png) no-repeat;
}
.singleblog .flexslider .flex-next {
  background: url(../images/rightslide8.png) no-repeat;
}
.singleblog .gridstyle .da-thumbs li .linedouble {
  border-color: #9E3B33;
}
.singleblog .gridstyle #filters li.activefilter a,
.singleblog .gridstyle #filters li.activefilter {
  border-color: #9E3B33;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #9E3B33;
}
.singleblog .recentfromblog .recgaly .itemonhome .previewimg .mask {
  background: rgba(158, 59, 51, 0.8);
}
.ale-team .socialbut .fbbut a {
  background: url(../images/soc8.png) 0 0 no-repeat;
}
.ale-team .socialbut .twibut a {
  background: url(../images/soc8.png) -90px 0 no-repeat;
}
.ale-team .socialbut .gbut a {
  background: url(../images/soc8.png) -180px 0 no-repeat;
}
.ale-service .iconbox,
.ale-divider span {
  background: #9E3B33;
}
